DB_TYPE=my_db_type
DB_PORT=my_db_port
DB_USERNAME=my_db_username
DB_PASSWORD=my_db_password
DB_NAME=my_db_name
DB_HOST=my_db_host
DB_SCHEMA=my_db_schema

AWS_ACCESS_KEY=my_aws_access_key
AWS_SECRET_ACCESS_KEY=my_aws_secret_access_key
AWS_S3_BUCKET_NAME=my_aws_S3_bucket_name

EMAIL_ADDRESS="my_email_address"
EMAIL_PASSWORD="my_email_password"

JWT_SECRET=my_jwt_secret